# Pandas

 -  Pandas é uma biblioteca para o python que  fornece ferramentas de análise e estruturas de dados com alta performance. Pandas é biblioteca mais utilizada para Análise de Dados.

In [2]:
# importando as bibliotecas
import numpy as np
import pandas as pd

# Desafio Módulo 2

### Leitura do arquivo
 - O arquivo se encontra em "https://pycourse.s3.amazonaws.com/bike-sharing.csv"
 - Caso você queira trabalhar em um jupyter local, baixe o arquivo e coloque na mesma pasta do seu Notebook
 - É uma boa prática verificar o encode do arquivo, para poder colocar no parâmetro de leitura.
 - Verifique também o separador

In [3]:
df = pd.read_csv('bike-sharing.csv') # Leitura do arquivo
# df = pd.read_csv('bike-sharing.csv', encoding = 'codificação', sep = '; ou , ou.')

### Vamos verificar as primeiras e últimas linhas do arquivo

In [28]:
n = 4

In [29]:
df.head(n) # Aqui eu imprimo na tela as 4 primeiras linhas do dataset

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13

In [ ]:
df.tail(n) # Aqui eu imprimo na tela as 4 últimas linhas do dataset

### Vamos verificar os tipos de dados em nosso dataset

In [ ]:
df.dtypes

 - Podemos observar que o "datetime" está como "object". Teremos que tratar esse dado.

#### Vamos tratar o dado DataTime

In [4]:
df['datetime'] = pd.to_datetime(df['datetime']) # Na coluna "datetime" com a função "to_datetime" eu converto o tipo de dado

In [ ]:
df.dtypes  # Podemos verificar que o dado foi devidamente convertido.

### Vamos verificar algumas estatísticas básicas do dataset

In [ ]:
df.describe()   # Nos informas alguns dados estatístico do dataset

### Vamos obter algumas informações importantes do dataset

In [ ]:
df.info()

### Vamos verificar os nomes das colunas existentes no dataset

In [ ]:
df.columns  # Colunas presentes no dataset

### Vamos verificar como o dataset está indexado

In [ ]:
df.index     # Descrição do Index

### Vamos verificar os dados não nulos do dataset

In [ ]:
df.count   # Contagem de dados não-nulos

## 1) Qual o tamanho do dataset?

 - Para sabermos o tamanho de um dataset ou dataframe, basta sabermos quantas linha e colunas o mesmo possui.
 - Dataset:
     - Um dataset é um conjunto de dados armazenados
 - DataFrame:
     - Um dataframe é um conjunto de dados que está sendo manipulado(poderá ou está sendo modificado).
     
 - Com o df.info(),  podemos ver essa informação, mas utilizaremos outro meio.

In [ ]:
df.shape     # Quantidade de linhas e colunas do DataFrame

## 2) Qual a média da coluna "windspeed"?

 - Sintaxe:
        - df["columnname"].mean()

In [ ]:
df['windspeed'].mean()

## 3) Qual a Média da coluna "temp"?

In [ ]:
df['temp'].mean()

## 4) Quantos registros existem para o ano de 2011?

### Vamos separar a coluna "ano"
 - Sintaxe:
     - data_frame['nome da coluna'] ou data_frame['nome da coluna', 'nome de outra coluna' ...]

In [ ]:
df['year'] # Aqui eu pego somente a coluta "year" do meu dataframe

In [ ]:
df[df['year'] == 0] # Aqui por indexação booleana eu pego as entradas da coluna "year" igual a 0 que é do ano 2011

 - Como podemos verificar, temos 8645 linhas com o ano 2011, que possui entrada 0 em nosso dataset.

## 5) Quantos registros existem para o ano de 2012?

In [ ]:
df[df['year'] == 1] # Aqui por indexação booleana eu pego as entradas da coluna "year" igual a 01 que é do ano 2012

 - Como podemos verificar, temos 8734 linhas com o ano 2012, que possui entrada 1 em nosso dataset.

## 6) Quantas locações de bicicletas foram efetuadas em 2011?

In [ ]:
df_0 = df[df['year'] == 0] # Vamos criar um novo dataframe, só para ficar mais fácil a visualização

In [ ]:
sum(df_0['total_count']) # Agora vamos somar a quantidade de locações no ano de 2011, somando os dados da coluna "total_count"

## 7) Quantas locações de bicicletas foram efetuadas em 2012?

In [ ]:
df_1 = df[df['year'] == 1] # Vamos criar um novo dataframe, só para ficar mais fácil a visualização

In [ ]:
sum(df_1['total_count']) # Agora vamos somar a quantidade de locações no ano de 2012, somando os dados da coluna "total_count"

## 8) Qual estação do ano contém a maior média de locações de bicicletas?

## 9) Qual estação do ano contém a menor média de locações de bicicletas?

### Vamos pegar os dados das estações do anos separadas
   - As estações do ano, estão indexadas da seguinte forma:(1: inverno, 2: primavera, 3: verão, 4: outono) Hemisfério Norte

In [ ]:
df[df['season'] == 1] # Aqui eu pego os dados, somente da estação inverno, do dataset
# df[df['season'] == 2] # Aqui eu pego os dados, somente da estação primavera, do dataset
# df[df['season'] == 3] # Aqui eu pego os dados, somente da estação verão, do dataset
# df[df['season'] == 4] # Aqui eu pego os dados, somente da estação outono, do dataset

 - Totais de locações diárias de bicicletas nas Estações do ano

In [ ]:
df.loc[df['season'] == 1, ['total_count']] # Aqui eu pego o total de locações diárias de bicicletas no verão de 2011 e 2012

In [ ]:
locacoes_inverno = df.loc[df['season'] == 1, ['total_count']]
locacoes_primavera = df.loc[df['season'] == 2, ['total_count']]
locacoes_verao = df.loc[df['season'] == 3, ['total_count']]
locacoes_outono = df.loc[df['season'] == 4, ['total_count']]

In [ ]:
locacoes_inverno['total_count'].mean()

In [ ]:
locacoes_primavera['total_count'].mean()

In [ ]:
locacoes_verao['total_count'].mean()

In [ ]:
locacoes_outono['total_count'].mean()

## 10) Qual horário do dia contém a maior média de locações de bicicletas?
## 11) Qual horário do dia contém a menor média de locações de bicicletas?

### Vamos isolar as colunas Hora e Total de locações ('hour', 'total_count')

In [ ]:
df[['hour', 'total_count']] # na exibição a primeira coluna é a indexação

#### Poderíamos pegar hora a hora, fazendo a média e veificar

In [ ]:
#df.loc[df['hour'] == 1, ['total_count']].mean()
df.loc[df['hour'] == 2, ['total_count']].mean()
#df.loc[df['hour'] == 3, ['total_count']].mean()
#df.loc[df['hour'] == 4, ['total_count']].mean()
#df.loc[df['hour'] == 5, ['total_count']].mean()
#df.loc[df['hour'] == 6, ['total_count']].mean()
#df.loc[df['hour'] == 7, ['total_count']].mean()
# Não seria viável, eficaz, mas não eficiente.

#### O melhor caminho seria por agrupamento
 - Nós queremos pegar as horas e o total de locações (hour e total_count)

In [7]:
hora_total = df[['hour', 'total_count']] # Para facilitar e ter uma melhor visualização vamos criar um dataframe "hora_total"

In [ ]:
hora_total # Nesse novo dataframe, termos visão somente do que nos interessa, evitando poluição visual.

In [9]:
#Vamos pegar as médias existentes, que no caso só tem total_count (proposital) e guardar em uma variável.
medias = hora_total.groupby(by = 'hour').mean()

#### **Ordenação**
 - Crescente / Decrescente
 - sort_values

In [11]:
df.sort_values?

In [ ]:
medias.sort_values('total_count', ascending=False) # Aqui nós vamos ordenar nossas médias para uma melhor visualização.

## 12) Que dia da semana contém a maior média de locações de bicicletas?
## 13) Que dia da semana contém a menor média de locações de bicicletas?

In [17]:
weekday_total = df[['weekday', 'total_count']] # Mesma estratégia usada anteriormente

In [ ]:
weekday_total # Podemos aqui visualizar nosso novo dataframe simplificado para nossa análise

In [21]:
media_weekday = weekday_total.groupby(by = 'weekday').mean()

In [23]:
media_weekday.sort_values('total_count', ascending=False)

         total_count
weekday
4         196.436665
5         196.135907
2         191.238891
3         191.130505
6         190.209793
1         183.744655
0         177.468825

## 14) Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média de locações de bicicletas?

In [104]:
weekdays = df[['weekday', 'hour', 'total_count']] # Do taframe, vamos pegar somente o que nos interessa

In [ ]:
weekdays

In [ ]:
weekday_3 = weekdays[weekdays['weekday']==3] # Vamos aqui pegar somente as quarta feiras (weekday = 3)
weekday_3

#### vamos indexar o dataframe pelo weekday

In [90]:
weekday_3 = weekday_3.set_index('weekday') # setei meu index para weekday (somente para uma melhor visualização)

In [ ]:
weekday_3

In [100]:
weekday_3_medias = weekday_3.groupby(by='hour').mean() # Obtendo as médias

In [101]:
weekday_3_medias.sort_values('total_count', ascending=False)

      total_count
hour
17     513.144231
18     494.029126
8      488.326923
19     357.504854
7      303.980769
16     272.961538
20     256.660194
9      238.528846
21     194.669903
12     193.903846
13     185.826923
15     181.288462
14     170.548077
11     152.201923
22     143.689320
10     131.894231
6      107.807692
23      83.737864
0       34.557692
5       25.750000
1       15.336538
2        7.813725
4        4.968750
3        4.888889

## 15) Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas?

In [105]:
weekday_6 = weekdays[weekdays['weekday']==6] # Vamos aqui pegar somente os sábados (weekday = 6)

In [107]:
weekday_6 = weekday_6.set_index('weekday') # setei meu index para weekday (somente para uma melhor visualização)

In [108]:
weekday_6_medias = weekday_6.groupby(by='hour').mean() # Obtendo as médias

In [110]:
weekday_6_medias.sort_values('total_count', ascending=False)

      total_count
hour
13     385.371429
15     382.428571
14     381.333333
12     375.380952
16     366.142857
17     334.409524
11     328.609524
18     292.048077
10     263.723810
19     239.932692
9      186.790476
20     180.865385
21     156.000000
22     139.663462
23     115.855769
8      114.476190
0       94.304762
1       67.780952
2       50.495238
7       45.961905
3       22.885714
6       21.000000
5        8.291262
4        7.657143